.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: rgb(173, 239, 232);
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: auto;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  /* height: 300px; */
}

.restaurant-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.restaurant-image {
  width: 100%; /* or specify a fixed width */
  height: 200px; /* Set a fixed height */
  border-radius: 10px;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.search {
  padding: 10px;
}
